/* Css for StudentDashboard */
body {
    margin: 0px;
    font-family: 'Lucida Sans'
}

.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 1.5% 2% 1.5%;
    font-weight: bold;
}

.homeHl {
    font-size: 1.8vw;
    color: white;
    font-weight: bold;
}

.hyperlinkSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
}

.hpHeader {
    color: white;
    text-decoration: none;
}

    .hpHeader:hover {
        border-bottom: 2px solid #EB5757;
        padding-bottom: 1px;
    }

footer {
    padding: 2% 1.5% 2% 1.5%;
    background-color: black;
}

.footer {
    width: 75%;
    font-size: 1vw;
}

    .footer td {
        vertical-align: top;
    }

.ftTopic {
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    line-height: 400%;
}

.hpContent {
    color: #828282;
    line-height: 200%;
}

    .hpContent:hover {
        color: #EB5757;
    }

.lblTopic {
    color: white;
    line-height: 200%;
}

.lblContent {
    color: #828282;
}

.menuList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.btnFeedback {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    background-color: black;
    transform: rotate(-90deg);
    float: right;
    position: fixed;
    right: 0;
    transform-origin: 95% 70%;
    font-weight: 500;
}
